/* Start Varibles --->*/
:root {
    --main_color: #00C7FC;
    --main_color_hover: #009fca;
    --main_duration: 1s;
    --main_color_opacity: rgba(0, 199, 252, 0.5);
    --opacity_black: rgba(0, 0, 0, 0.5);
    --p_main_color: #777;
    --padding_section_1: 100px;
    --padding_section_2: 50px;
}

/* End Varibles <---*/

/* Start Rules --->*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.425);
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.600);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Rules <---*/

/* Start Font_Family --->*/
@font-face {
    font-family: light_font;
    src: url(../font/static/OpenSans/OpenSans-Light.ttf);
}

/* light_font */

@font-face {
    font-family: regular_font;
    src: url(../font/static/OpenSans/OpenSans-Regular.ttf);
}

/* regular_font */

@font-face {
    font-family: medium_font;
    src: url(../font/static/OpenSans/OpenSans-Medium.ttf);
}

/* medium_font */

@font-face {
    font-family: semibold_font;
    src: url(../font/static/OpenSans/OpenSans-SemiBold.ttf);
}

/* semibold_font */

@font-face {
    font-family: bold_font;
    src: url(../font/static/OpenSans/OpenSans-Bold.ttf);
}

/* bold_font */

@font-face {
    font-family: extrabold_font;
    src: url(../font/static/OpenSans/OpenSans-ExtraBold.ttf);
}

/* extrabold_font */

/* End Font_Family <---*/

header {
    position: absolute;
    width: 100%;
    z-index: 3;
}

header .container .logo {
    height: 50px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 55px;
}

header .container::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.452);
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    right: -15;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav ul {
    padding-right: 55px;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    padding-left: 18px;
    padding-right: 18px;
}

header nav ul li a {
    text-transform: uppercase;
    display: block;
    padding: 25px 0px;
    font-family: bold_font;
    font-size: 11px;
    transition: var(--main_duration);
}

header nav ul li a:hover,
header nav ul li a.active {
    color: var(--main_color);
    border-bottom: solid 1px var(--main_color);
    z-index: 2;
}

header nav .form {
    padding-left: 20px;
    border-left: solid 2px white;
    color: white;
}

header nav .form i {
    transition: var(--main_duration);
}

header nav .form:hover i {
    color: var(--main_color);
}

@media(max-width: 767px) {
    header nav ul {
        display: none;
    }

    .burger_icon:hover :last-child {
        width: 50%;
    }

    .burger_icon:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .burger_icon+ul li a {
        padding-bottom: 10px !important;
        padding-top: 15px !important;
        width: 120%;
    }

    .text_landing {
        width: 100% !important;
    }

    .text_landing .content {
        max-width: 100%;
    }

    .landing .btn {
        display: none;
    }

}

.burger_icon {
    transition: var(--main_duration);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 22px;
    margin-right: 20px;
}

.burger_icon span {
    transition: var(--main_duration);
    background-color: white;
    margin-bottom: 4px;
    height: 2px;
    width: 100%;
    border-radius: 10px;
}

/* small */
@media(min-width: 768px) {
    .burger_icon {
        display: none;
    }

    header nav ul {
        display: flex;
    }
}

/* Start Landing */
.landing {
    min-height: 90vh;
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/eagle_rider___photoshop_art_by_phaserunner_detniol-fullview.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text_landing {
    color: white;
    background-color: var(--main_color_opacity);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 60%;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}

.text_landing .content {
    max-width: 500px;
}

.text_landing h2 {
    font-family: regular_font;
    line-height: 160%;
    margin-bottom: 20px;
}

.text_landing p {
    font-family: bold_font;
    line-height: 130%;
}

.landing .btn {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: white;
    font-size: 120%;
    transition: var(--main_duration);
}

.landing .btn_right {
    right: 30px;
    padding: 50px 0px 50px 50px;
}

.landing .btn_right:hover {
    right: 20px;
}

.landing .btn_left {
    left: 30px;
    padding: 50px 50px 50px 0px;
}

.landing .btn_left:hover {
    left: 20px;
}

.landing .bullets ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.landing .bullets ul li {
    border: 1px solid wheat;
    width: 12px;
    height: 12px;
    border-radius: 5px;
}

.landing .bullets ul .active {
    background-color: var(--main_color);
    margin-right: 4px;
    margin-left: 4px;
}

/* End Landing */
/* Start Services */
.services {
    padding-bottom: var(--padding_section_1);
    padding-top: var(--padding_section_1);
    padding-left: 9px;
    padding-right: 9px;
}

.contact .main_text,
.pricing .main_text,
.skills .main_text,
.testimonials .main_text,
.about .main_text,
.portfolio .main_text,
.services .main_text {
    text-align: center;
}

.contact .main_text h2,
.pricing .main_text h2,
.skills .main_text h3,
.testimonials .main_text h3,
.about .main_text h2,
.portfolio .main_text h2,
.services .main_text h2 {
    letter-spacing: 3px;
    position: relative;
    font-family: light_font;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact .main_text h2::before,
.pricing .main_text h2::before,
.about .main_text h2::before,
.portfolio .main_text h2::before,
.services .main_text h2::before {
    content: "";
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    width: 100px;
    background-color: black;
}

.contact .main_text h2::after,
.pricing .main_text h2::after,
.about .main_text h2::after,
.portfolio .main_text h2::after,
.services .main_text h2::after {
    content: "";
    position: absolute;
    height: 10px;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 1px black;
    width: 10px;
    background-color: white;
}

.contact .main_text p,
.pricing .main_text p,
.skills .main_text p,
.testimonials .main_text p,
.about .main_text p,
.portfolio .main_text P,
.services .main_text p {
    margin-top: 50px;
    max-width: 100%;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: light_font;
    font-size: 0.9em;
    color: var(--p_main_color);
}

@media(max-width:767px) {
    .services .container .ser {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .services .container .ser i {
        margin: 0 0 30px;
    }
}

@media (min-width: 768px) {

    .services .container .sers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 30px;
    }
}

.services .container .ser {
    width: 80%;
    display: flex;
    margin-bottom: 50px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px 15px 25px;
    transition: var(--main_duration);
    border-radius: 20px;
}

.services .container .ser:hover {
    background-color: #FCFCD4;
    transform: scale(1.1);
    margin-top: -35px;
    margin-bottom: 85px;
}

.services .container i {
    margin-right: 30px;
    font-size: xx-large;
    color: var(--p_main_color);
}

.services .container h3 {
    margin-bottom: 25px;
    color: var(--main_color);
    font-family: regular_font;
}

.services .container p {
    color: var(--p_main_color);
    font-family: light_font;
    font-size: 0.8em;
    line-height: 150%;
}

/* End Services */

/* Start Design */
.design {
    padding-top: var(--padding_section_2);
    padding-bottom: var(--padding_section_2);
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/lift_by_clockbirds_decix2e.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.design .design_text,
.design .img_mobile {
    position: relative;
    flex: 1;
}

.design .design_text {
    font-family: regular_font;
    color: white;
    padding: 60px;
    background-color: var(--main_color_opacity);
}

.design .img_mobile {
    text-align: center;
}

@media(max-width: 767px) {

    .design .img_mobile,
    .design .design_text {
        min-width: 100%;
    }

    .design {
        flex-direction: column-reverse;
        display: flex;
    }
}

.design .img_mobile img {
    width: 300px;
    position: relative;
    /* top: 100px; */
    animation: down_to_up 3s cubic-bezier(0.7, 0.09, 0.33, 0.89) infinite alternate;
}

@keyframes down_to_up {
    from {
        top: 100px;
    }

    to {
        top: 50px;
    }
}

.design .design_text h3 {
    margin-bottom: 50px;
}

.design .design_text ul {
    font-size: 85%;
}

.design .design_text ul li {
    margin-bottom: 25px;
}

.design .design_text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\e163';
    font-weight: 800;
    margin-right: 25px;
    position: relative;
    top: 2px;
    color: wheat;
}

/* End Design */

/* Start Portfolio */

.portfolio {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    font-size: small;
    font-family: semibold_font;
}

.portfolio .shuffle a {
    text-decoration: none;
    color: black;
    padding: 6px 13px;
}

.portfolio .shuffle li:hover a {
    background-color: var(--main_color);
}

.portfolio .boxs_img {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.portfolio .boxs_img .box {
    position: relative;
    margin-bottom: -10px;
    overflow: hidden;
}

@media(min-width: 768px) {
    .portfolio .boxs_img .box {
        flex-basis: 50%;
    }
}

@media(min-width: 1199px) {
    .portfolio .boxs_img .box {
        flex-basis: 25%;
    }
}

.portfolio .boxs_img .box img {
    max-width: 100%;
    transition: var(--main_duration);
}

.portfolio .boxs_img .caption {
    position: absolute;
    bottom: -100px;
    transition: var(--main_duration);
    left: 0;
    background-color: var(--main_color_opacity);
    padding: 30px;
    width: 100%;
}

.portfolio .boxs_img .box:hover .caption {
    position: absolute;
    bottom: 4px;
}

.portfolio .boxs_img .box:hover img {
    transform: scale(1.5) rotate(10deg);
}

.portfolio .boxs_img .caption h4 {
    font-family: regular_font;
    color: black;
}

.portfolio .boxs_img .caption p {
    font-family: regular_font;
    color: white;
    margin-top: 4px;
}

.portfolio .more_btn {
    background-color: var(--main_color);
    padding: 4px 40px 11px 40px;
    text-transform: uppercase;
    font-family: medium_font;
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    transition: var(--main_duration);
}

.portfolio .more_btn:hover {
    background-color: var(--main_color_hover);
}

/* End Portfolio */

/* Start Video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    background-color: var(--opacity_black);
    width: 100%;
    height: calc(100% - 5px);
    top: 0;
    left: 0;
}

.video video {
    width: 100%;
}

.video .video_text {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    text-align: center;
    background-color: var(--main_color_opacity);
    padding: 50px;
    color: white;
}

@media(max-width:787px) {

    .video .video_text {
        padding: 9px;
        font-size: 50%;
        background-color: rgba(0, 0, 0, 0);
    }
}

.video .video_text h2 {
    font-family: bold_font;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.video .video_text p {
    font-family: regular_font;
    margin-bottom: 50px;
}

.video .video_text a {
    color: white;
    background-color: rgb(31, 18, 0);
    padding: 4px 40px 11px 40px;
    font-family: regular_font;
    text-transform: uppercase;
    transition: var(--main_duration);
}

.video .video_text a:hover {
    background-color: rgb(14, 8, 0);
}

/* End Video */

/* Start About */

.about {
    padding-top: var(--padding_section_2);
    padding-bottom: var(--padding_section_2);
    overflow: hidden;
}

.about .img_mobile {
    display: flex;
    justify-content: center;
    margin-top: -50px;
    /* margin-bottom: -50px; */
}

@keyframes down_up {
    form {
        top: 50px;
    }

    to {
        top: 0px;
    }
}

.about .img_mobile img {
    width: 60%;
    margin-bottom: -30px;
    position: relative;
    top: 50px;
    animation: down_up 3s cubic-bezier(0.23, 1, 0.320, 1) infinite alternate;
}

/* End About */

/* Start Staticts */

.staticts {
    padding-top: var(--padding_section_2);
    padding-bottom: var(--padding_section_2);
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/eagle_rider_full.png);
    background-position: center;
    background-size: cover;
}

.staticts .container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.staticts .container .box {
    background-color: var(--main_color_opacity);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: regular_font;
}

.staticts .container .box i {
    font-size: 80%;
    margin-bottom: 15px;
    border-radius: 50px;
    background-color: black;
    padding: 10px;
    color: wheat;
}

.staticts .container .box h3 {
    margin-bottom: 15px;
    font-size: 300%;
}

.staticts .container .box p {
    font-size: 80%;
}

/* End Staticts */

/* Start skill_Testimonials */

.skill_testimonials {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
}

.skill_testimonials .container {
    display: grid;
    column-gap: 70px;
    row-gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

@media(max-width: 767px) {
    .skill_testimonials .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

}

.skill_testimonials .testimonials .box {
    margin-bottom: 35px;
    display: flex;
    line-height: 180%;
    color: var(--p_main_color);
}

.skill_testimonials .testimonials .box img {
    width: 18%;
    height: 18%;
    border-radius: 50%;
    margin-right: 30px;
}

.skill_testimonials .testimonials .box .text {
    border-bottom: 1px solid var(--opacity_black);
    font-family: light_font;
}

.skill_testimonials .testimonials .box p {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.skill_testimonials .testimonials .bullets {
    position: relative;
}

.skill_testimonials .testimonials .bullets ul {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

}

.skill_testimonials .testimonials .bullets li {
    border: 1px solid var(--opacity_black);
    width: 12px;
    height: 12px;
    border-radius: 5px;
}

.skill_testimonials .testimonials .bullets ul .active {
    background-color: var(--main_color);
    margin-right: 4px;
    margin-left: 4px;
}


.skills .prog_one {
    margin-bottom: 30px;
}

.skills .prog_one h4 {
    margin-bottom: 15px;
    font-family: bold_font;
    text-transform: uppercase;
    color: var(--p_main_color);
}

.skills .prog_one .prog {
    width: 100%;
    height: 30px;
    background-color: #77777763;
    z-index: -1;
    display: flex;
}

.skills .prog_one .prog span {
    height: 30px;
    background-color: var(--main_color);
    position: relative;
}

.skills .prog_one .prog span::before {
    content: attr(data-prog);
    font-family: medium_font;
    position: absolute;
    top: -40px;
    right: -20px;
    padding: 4px 9px;
    text-align: center;
    color: white;
    background-color: black;
}

.skills .prog_one .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    top: -15px;
    right: -7px;
    border-color: black transparent transparent transparent;
}

/* End skill_Testimonials */

/* Satrt Accumsan */

.article {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/canyons_by_clockbirds_dcpj04s.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    line-height: 230%;
    font-family: semibold_font;
}

.article .container .text {
    width: 60%;
    margin: auto;
}

@media(max-width: 767px) {
    .article .container .text {

        width: 100%;
        margin: auto;
    }
}

.article .container .text h3 {
    margin-bottom: 15px;
    font-size: 130%;
}

.article .container .text p {
    font-family: light_font;
}

.article .container .text h3::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 800;
    color: wheat;
}

.article .container .text h3::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 800;
    color: wheat;
}

/* End Accumsan */

/* Start Pricing */

.pricing {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
    text-align: center;
}

.pricing .boxs_price {
    display: grid;
    row-gap: 50px;
    column-gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.pricing .boxs_price .box {
    font-family: medium_font;
    color: var(--p_main_color);
}

.pricing .boxs_price .box .offer {
    border-top: 2px solid var(--main_color_opacity);
    border-bottom: 2px solid var(--main_color_opacity);
}

.pricing .boxs_price .box .offer h4 {
    padding-top: 25px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: regular_font;
    color: #444444;
}

.pricing .boxs_price .box .offer p {
    padding-bottom: 25px;
}

.pricing .boxs_price .box .offer .dolar {
    position: relative;
    top: -50px;
    font-size: 120%;
    font-family: extrabold_font;
    margin-right: 10px;
    color: black;
}

.pricing .boxs_price .box .offer .price_number {
    font-size: 450%;
    color: black;
}

.pricing .boxs_price .box .offer .time {
    text-transform: uppercase;
    font-family: bold_font;
    color: black;
}

.pricing .boxs_price .box .properties {
    border-bottom: 2px solid var(--main_color_opacity);
}

.pricing .boxs_price .box .properties h5 {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 2px var(--main_color_opacity);
    width: 50%;
    margin: auto;
    font-size: medium;
}

.pricing .boxs_price .box button {
    border: solid 2px var(--main_color_opacity);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 25px;
    margin-top: 30px;
    font-family: medium_font;
    font-size: 100%;
    transition: var(--main_duration);
}

.pricing .boxs_price .box button:hover {
    background-color: var(--main_color_hover);
    color: white !important;
}

.pricing .boxs_price .box .properties .brdr_h5 {
    border-bottom: none;
}

.pricing .button_contact {
    margin-top: 80px;
}

.pricing .button_contact h1 {
    font-size: 115%;
    color: var(--p_main_color);
    font-family: regular_font;
    letter-spacing: 1.5px;
}

.pricing .button_contact button {
    color: white;
    font-family: medium_font;
    margin-top: 30px;
    border: solid 2px var(--main_color_opacity);
    background-color: var(--main_color);
    padding: 10px 25px;
    font-size: 120%;
    transition: var(--main_duration);
}

.pricing .button_contact button:hover {
    color: black;
    background: none;
}

/* End Pricing */

/* Start Subscribe */
.subscribe {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/little_kitten_sunset.jpg);
    background-position: center;
    background-size: cover;
}

.subscribe .container {
    display: flex;
    align-items: center;
    color: white;
}

@media(max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe .container form {
    display: flex;
    position: relative;
    width: 1000px;
    max-width: 100%;
}

.subscribe .container form i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 115%;
    color: wheat;
}

.subscribe .container form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background: none;
    border: 1px solid white;
    width: calc(100% - 130px);
    caret-color: var(--main_color);
    border-right: none;
    color: white;
    font-family: bold_font;
    font-size: 115%;
}

.subscribe .container form input[type="submit"] {
    width: 130px;
    border: 1px solid white;
    background-color: var(--main_color);
    color: white;
    text-transform: uppercase;
    border-left: none;
    font-family: bold_font;
    transition: var(--main_duration);
}

.subscribe .container form input[type="submit"]:hover {
    background-color: var(--main_color_hover);
}

.subscribe .container form ::placeholder {
    color: white;
    font-family: bold_font;
    font-size: large;
}

.subscribe .container form input:focus {
    outline: none;
}

.subscribe .container .text {
    margin-left: 30px;
    font-family: regular_font;
}

@media(max-width: 991px) {
    .subscribe .container .text {
        margin: 30px 0px 0px 0px;
    }
}

/* End Subscribe */

/* Start Contact */

.contact {
    padding-top: var(--padding_section_1);
    padding-bottom: var(--padding_section_1);
}

.contact .container .register_box {
    display: flex;
    justify-content: space-between;
}

.contact .container .register_box form {
    flex-basis: 70%;
}

.contact .container .register_box form input:focus {
    outline: none;
}

.contact .container .register_box .main_input {
    display: block;
    width: 100%;
    padding: 20px 20px 20px 25px;
    margin-bottom: 30px;
    border: 1px solid var(--p_main_color);
    font-family: bold_font;
    font-size: 100%;
    caret-color: var(--main_color);
}

.contact .container .register_box .main_input ::placeholder {
    font-family: bold_font;
    font-size: large;
}

.contact .container .register_box textarea {
    caret-color: var(--main_color);
}

.contact .container .register_box textarea:focus {
    outline: none;
}

.contact .container .register_box input[type="submit"] {
    display: flex;
    padding: 20px 40px;
    margin-left: auto;
    border: none;
    background-color: var(--main_color);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-family: semibold_font;
    transition: var(--main_duration);
}

.contact .container .register_box input[type="submit"]:hover {
    background-color: var(--main_color_hover);
}

.contact .container .info {
    flex-basis: 25%;
}

.contact .container .info h4 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: semibold_font;
}

.contact .container .info .phone {
    display: block;
    margin-bottom: 10px;
    color: var(--p_main_color);
}

.contact .container .info .addr {
    margin-top: 100px;
}

.contact .container .info address {
    color: var(--p_main_color);
    line-height: 150%;
    font-family: medium_font;
}

@media(max-width: 767px) {
    .contact .container .register_box {
        flex-direction: column-reverse;
    }

    .contact .container .info {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .contact .container .info .addr {
        margin-top: 0px;
    }
}

/* End Contact */

/* Start Footer */

.footer {
    padding-top: var(--padding_section_2);
    padding-bottom: var(--padding_section_2);
    background-image: linear-gradient(var(--opacity_black), var(--opacity_black)), url(../images/bg/streets.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.footer .container ul,
.footer .container .logo_link {
    display: flex;
    justify-content: center;
}

.footer .container .logo_link img {
    width: 200px;
}

.footer .container h2 {
    font-family: semibold_font;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 3px solid;
    padding: 13px 25px;
    width: fit-content;
}

.footer .container ul li {
    margin-right: 10px;
    margin-left: 10px;
}

.footer .container ul li:hover i{
    color: var(--main_color_hover);
}

.footer .container p {
    margin-top: 80px;
    font-family: bold_font;
}

.footer .container p span a {
    color: var(--main_color);
}

/* End Footer */